@page
@{
    ViewData["Title"] = "Docs";
    Layout = "/Pages/Shared/_DocsLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Welcome</h2><small>Welcome to the user documentation for FTC Scouting App</small>
            </div>
            <div class="body">
                <p>
                    This user manual aims to explain the usage of the FTC Scouting App during an event and in the days before, during preparation.
                </p>
                <p>
                    All of the pages here are interactive, and you can play around with the fields, buttons and everything else.
                </p><p>
                    We recommend that everybody in your team takes time to read the full documentation and practice on a test event before attending a competition.
                </p><p>
                    We also recommend that you fill in the event and teams' details before heading to the competition, as this will speed up the scouting.
                </p><p>
                    For feature requests or technical support please <a href="mailto:scouting.support@qrobotics.eu">mail us</a>.
                </p>
                <p>
                    We will typically reply to your inquiries between Monday and Sunday 8AM - 10PM EET (1AM - 3PM EST)
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Installation and usage</h2>
            </div>
            <div class="body">
                <p>
                    This web app is packaged as a Progressive Web App (PWA) for your convenience.
                </p>
                <p>
                    There are also mobile apps for iOS and Android devices in the App Store and Google Play store that allow users to scout from a native app.
                </p>
                <div class="alert alert-warning">
                    This app <b>MUST</b> have a constant connection to the Internet. Due to this being an app that is always syncing data with the server, only the offline parts of the app (Documentation and Legal) are saved to your device. We remind you that as per the rules in the Game Manuals, you are <strong>NOT ALLOWED</strong> to operate a Wi-Fi Hotspot in the event venue. As such, each scouter may use their mobile phone/tablet connected via cellular data to the Internet. Data usage for a typical day of scouting is ~15Mb/user.
                </div>
                <strong>
                    Installation on Android devices (PWA version via Chrome)
                </strong>
                <p>
                    <ul>
                        <li>Open the web app in Chrome</li>
                        <li>
                            Tap the <i class="material-icons" style="font-size:14px;">more_vert</i> More button in the upper-right corner
                        </li>
                        <li>Select "Add to homescreen" and then "Add"</li>
                    </ul>
                    OR
                    <ul>
                        <li>Open the web app in Chrome</li>
                        <li>
                            Use the app for ~5min in Chrome
                        </li>
                        <li>A pop-up will appear that you can install the app</li>
                        <li>Select "Add"</li>
                    </ul>
                </p>
                <strong>
                    Installation on iOS devices (PWA version via Safari)
                </strong>
                <p>
                    <ul>
                        <li>Open the web app in Safari</li>
                        <li>Select "Share" in the bottom navigation bar</li>
                        <li>Select "Add to homescreen" and then "Add"</li>
                    </ul>
                </p>
                <strong>
                    Installation on Windows (PWA version via Chrome)
                </strong>
                <p>
                    <ul>
                        <li>Open the web app in Chrome</li>
                        <li>Select the <i class="material-icons" style="font-size:14px;">add_circle_outline</i> Plus icon in the right part of the navigation bar and then "Install" </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>