@page
@model SkystoneScouting.Pages.Teams.EditModel

@{
    ViewData["Title"] = "Edit team";
}

<div class="block-header">
    <h2 style="font-weight:bolder;">
        Edit team
    </h2>
    <ol class="breadcrumb">
        <li>
            <a asp-page="/Events/Index">
                <i class="material-icons">event</i> Events
            </a>
        </li>
        <li>
            <a asp-page="Index" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID">
                <i class="material-icons">people</i> Teams
            </a>
        </li>
        <li class="active">
            <a asp-page="Edit" asp-route-EventID="@Model.eventID" asp-route-TeamID="@Model.teamID">
                <i class="material-icons">edit</i> Edit team
            </a>
        </li>
    </ol>
</div>

<form method="post">
    <input asp-for="Team.ID" hidden>
    <input asp-for="Team.EventID" hidden>
    <input asp-for="Team.AvgPTS" hidden>
    <input asp-for="Team.OPR" hidden>
    <input asp-for="Team.DPR" hidden>
    <input asp-for="Team.CCWM" hidden>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        TEAM INFO
                        <small>What does this team do?</small>
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-sm-3">
                            <h2 class="card-inside-title">What is the number of this team?</h2>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input asp-for="Team.TeamNumber" class="form-control">
                                    <label class="form-label">Team Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h2 class="card-inside-title">How does this team like to be called?</h2>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input asp-for="Team.TeamName" class="form-control">
                                    <label class="form-label">Team Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h2 class="card-inside-title">Where is this team located?</h2>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input asp-for="Team.TeamAddress" class="form-control">
                                    <label class="form-label">Team address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        ROBOT INFO
                        <small>How does this team's robot look?</small>
                    </h2>
                </div>
                <div class="body">
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        DESCRIPTION
                        <small>Team &amp; Robot description</small>
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h2 class="card-inside-title">Anything to add?</h2>
                            <div class="form-group form-group">
                                <div class="form-line">
                                    <textarea asp-for="Team.Description" rows="1" class="form-control no-resize auto-growth" style="overflow: hidden; overflow-wrap: break-word; height: 66px;" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary waves-effect">EDIT TEAM</button>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Autosize Plugin JS -->
    <script src="/vendor/autosize/dist/autosize.min.js"></script>

    <script>
        var ta = document.querySelector('textarea');
        ta.style.display = 'none';
        autosize(ta);
        ta.style.display = '';

        // Call the update method to recalculate the size:
        autosize.update(ta);
    </script>
}