@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Password reset";
}

<body class="fp-page ls-closed">
    <div class="fp-box">
        <div class="logo">
            <a asp-area="" asp-page="/Index">FTC Scouting App</a>
            <small>Skystone Edition</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="forgot_password" method="POST" novalidate="novalidate">
                    <div class="msg">
                        Enter your email address that you used to register. We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-blue waves-effect" type="submit">RESET MY PASSWORD</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a asp-page="Login">Remembered yout password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="login-box">
        <div class="card" style="
    position: fixed;
    bottom: -30px;
    min-width: 360px;
    background-color: #1d4294;
                         ">
            <div class="col-12">
                <h4 style="
    color: white;
    margin: 15px 21px;
">
                    <a href="https://qrobotics.eu" target="_blank" style="
    all: unset;
">Provided by Quantum Robotics #14270</a>
                </h4>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!-- Bootstrap Core Js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/vendor/node-waves/dist/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/vendor/jquery-validation/dist/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="/js/admin.min.js"></script>

    <!-- Bounce effect fix -->
    <script>
        document.addEventListener("touchmove", function (e) {
            e.preventDefault();
        }, { passive: false });
    </script>
</body>